.appcontainer{
    padding: 20px 20px;
    border: solid 1px black;
    height: 500px;
    overflow-y: scroll;
}

.containerparent{
    padding: 20px 20px;
}
.containerRow{
    float: left;
}

.containerRowRight{
    float: left;
}